<launch>
	<group ns="Auto_Robot">
		<node name="unity_filter" pkg="filter" type="filter_unity_node">
			<param name="id" value="2" />
			<remap from="robots" to="/robots" />
			<remap from="out_pose" to="out_pose" />
		</node>

		<node name="error" pkg="error" type="error_node">
			<remap from="measurement" to="out_pose" />
			<remap from="setpoint" to="/Manual_Robot/out_pose" />
			<remap from="error" to="error" />
		</node>

		<node name="angular_proportional_controller" pkg="controller" type="controller_node">
			<param name="P_gain" value="0.005" />
			<param name="D_gain" value="0.00001" />

			<remap from="error" to="error" />
			<remap from="control_signal" to="twist_signal" />
		</node>

		<node name="twist_bridge" pkg="twist_to_motorsignal" type="twist_to_motorsignal_node">
			<remap from="twist" to="twist_signal" />
			<remap from="signal" to="motor_signal" />
			<param name="max_motor_signal" value="1" />

		</node>

		<node name="unity_router" pkg="router" type="router_unity_node">
			<param name="id" value="2" />
			<remap from="motor_signal" to="motor_signal" />
			<remap from="robot_cmd_vel" to="/robot_cmd_vel" />
		</node>

		<node name="spawner" pkg="robot_spawner" type="spawner.py">
			<param name="id" value="2" />
			<param name="x" value="0" />
			<param name="y" value="0" />
			<param name="z" value="0" />
			<param name="rotation" value="0.0" />
			<remap from="presence" to="/presence" />
			<remap from="robot" to="/robot_def" />
		</node>
	</group>

	<arg name="ros_ip" />
	<node name="UnityBridge" pkg="simulation_endpoint" type="server_endpoint.py" respawn="true">
		<param name="ROS_IP" value="$(arg ros_ip)" />
	</node>

	<group ns="Manual_Robot">
		<node name="unity_filter" pkg="filter" type="filter_unity_node">
			<param name="id" value="1" />
			<remap from="robots" to="/robots" />
			<remap from="out_pose" to="out_pose" />
		</node>

		<node name="teleop_key" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
			<remap from="cmd_vel" to="keyboard_input" />
		</node>

		<node name="twist_bridge" pkg="twist_to_motorsignal" type="twist_to_motorsignal_node">
			<remap from="twist" to="keyboard_input" />
			<remap from="signal" to="motor_signal" />
			<param name="max_motor_signal" value="0.1" />
		</node>

		<node name="unity_router" pkg="router" type="router_unity_node">
			<param name="id" value="1" />
			<remap from="motor_signal" to="motor_signal" />
			<remap from="robot_cmd_vel" to="/robot_cmd_vel" />
		</node>

		<node name="spawner" pkg="robot_spawner" type="spawner.py">
			<param name="id" value="1" />
			<param name="x" value="3" />
			<param name="y" value="0" />
			<param name="z" value="3" />
			<param name="rotation" value="0.0" />
			<remap from="presence" to="/presence" />
			<remap from="robot" to="/robot_def" />
		</node>
	</group>
</launch>
